.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-Container--check {
    position: absolute;
    left: 12px;
}

.Icon-Container--cancel {
    position: absolute;
    top: -24px;
    right: 0;
}

.icon-svg {
    width: 24px;
    height: 24px;
    transition: fill .15s;
}

.Icon-container:hover .Icon-Container--check {
    fill: #4caf50;
}

.Icon-container :hover .Icon-Container--cancel {
    fill: red
}